div{
    box-sizing: border-box;
}

// 弹性布局
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-flow: column;
}
.row-center {
    justify-content: center;
}
.row-start {
    justify-content: flex-start;
}
.row-end {
    justify-content: flex-end;
}
.row-between {
    justify-content: space-between;
}
.row-around {
    justify-content: space-around;
}


.col-center {
   align-items: center;
}
.col-start {
   align-items: flex-start;
}
.col-end {
    justify-content: flex-end;
}

.colums-center {
    align-content: center;
}

.flexcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft12 {
    font-size: 12px;
}
.ft14 {
    font-size: 14px;
}

.border {
    border: 1px solid #666;
}

.radius14{
    border-radius: 14px;
}