#layout {
    background: #eee;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .content{
        width: 100%;
        flex:1;
        padding-top: 40px;
        height: 100%;
        .menu{
            height: 100%;
            position: absolute;
            top: 40px;
            left: 0;
            transition: all .3s linear;
            z-index:9999;
        }
    }
    #container{
        height: 100%;
        padding: 20px;
        flex: 1;
    }
}