#menu{
    background: pink;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
            display: none;
    }
    .menu{
        &-list{
            width: 140px;
            a{
                padding: 10px;
                &:hover{
                    background: #c7c4c4;
                }
            }
            
        }
        &-submenu{
            width: 500px;
            padding: 10px;
            background: rgb(242, 201, 208);
            flex-wrap: wrap;
            align-content: flex-start;
            div {
                width: 31%;
                height: 28px;
                line-height: 28px;
                font-size: 14px;
                background: rgba($color: #000000, $alpha: .1);
                margin: 0 5px 8px;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}